.Detail {
  margin-left: 10%;
  margin-top: 3%;
  .dsc {
    font-size: smaller;
    border: 0px;
    background-color: #b2e7b2;
    border-radius: 15px;
    padding: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    //font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;

    .최상 {
      font-size: x-large;
      color: transparent;
      display: inline-block;
      // object-fit: cover;
      //background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%231E824C' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M5.77 13.66V15.57H7.11V13.66H5.77ZM5.76 10.36V10.57C5.76 11.56 5.11 12.53 3.63 12.92L4.23 13.94C5.99 13.47 6.82 12.12 6.82 10.57V10.36H5.76ZM6.04 10.36V10.57C6.04 12.08 6.9 13.41 8.66 13.86L9.25 12.84C7.78 12.46 7.11 11.52 7.11 10.57V10.36H6.04ZM3.91 9.72V10.77H8.98V9.72H3.91ZM5.77 8.71V10.18H7.11V8.71H5.77ZM9.8 8.62V17.91H11.13V8.62H9.8ZM3.6 16.19C5.2 16.18 7.38 16.16 9.39 15.77L9.29 14.8C7.34 15.09 5.06 15.11 3.44 15.11L3.6 16.19ZM14.6292 9.13V9.95C14.6292 11.21 13.9992 12.45 12.4492 12.97L13.1592 14.02C14.9192 13.41 15.7192 11.79 15.7192 9.95V9.13H14.6292ZM14.8992 9.13V10.08C14.8992 11.75 15.6892 13.19 17.3592 13.75L18.0492 12.72C16.5992 12.27 15.9792 11.19 15.9792 10.08V9.13H14.8992ZM18.5592 8.63V14.1H19.8892V8.63H18.5592ZM19.5192 10.77V11.87H21.1192V10.77H19.5192ZM16.8692 14.31C14.9392 14.31 13.7292 14.98 13.7292 16.1C13.7292 17.23 14.9392 17.89 16.8692 17.89C18.7892 17.89 19.9992 17.23 19.9992 16.1C19.9992 14.98 18.7892 14.31 16.8692 14.31ZM16.8692 15.34C18.0492 15.34 18.6792 15.59 18.6792 16.1C18.6792 16.62 18.0492 16.86 16.8692 16.86C15.6892 16.86 15.0492 16.62 15.0492 16.1C15.0492 15.59 15.6892 15.34 16.8692 15.34Z' fill='white'/%3E%3C/svg%3E ");
    }
    .상 {
      font-size: x-large;
      color: transparent;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2326A65B' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M10.673 8.343V9.245C10.673 10.631 9.98 11.995 8.275 12.567L9.056 13.722C10.992 13.051 11.872 11.269 11.872 9.245V8.343H10.673ZM10.97 8.343V9.388C10.97 11.225 11.839 12.809 13.676 13.425L14.435 12.292C12.84 11.797 12.158 10.609 12.158 9.388V8.343H10.97ZM14.996 7.793V13.81H16.459V7.793H14.996ZM16.052 10.147V11.357H17.812V10.147H16.052ZM13.137 14.041C11.014 14.041 9.683 14.778 9.683 16.01C9.683 17.253 11.014 17.979 13.137 17.979C15.249 17.979 16.58 17.253 16.58 16.01C16.58 14.778 15.249 14.041 13.137 14.041ZM13.137 15.174C14.435 15.174 15.128 15.449 15.128 16.01C15.128 16.582 14.435 16.846 13.137 16.846C11.839 16.846 11.135 16.582 11.135 16.01C11.135 15.449 11.839 15.174 13.137 15.174Z' fill='white'/%3E%3C/svg%3E ");
    }
    .중 {
      font-size: x-large;
      color: transparent;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2390C695' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M12.312 12.908V14.701H13.775V12.908H12.312ZM8.44 12.424V13.579H17.647V12.424H8.44ZM13.027 14.305C10.816 14.305 9.485 14.965 9.485 16.142C9.485 17.319 10.816 17.979 13.027 17.979C15.227 17.979 16.558 17.319 16.558 16.142C16.558 14.965 15.227 14.305 13.027 14.305ZM13.027 15.405C14.391 15.405 15.084 15.636 15.084 16.142C15.084 16.637 14.391 16.879 13.027 16.879C11.663 16.879 10.97 16.637 10.97 16.142C10.97 15.636 11.663 15.405 13.027 15.405ZM12.037 8.75V9.003C12.037 9.795 11.058 10.697 8.825 10.884L9.331 12.028C11.96 11.786 13.335 10.532 13.335 9.003V8.75H12.037ZM12.752 8.75V9.003C12.752 10.543 14.138 11.786 16.756 12.028L17.262 10.884C15.018 10.697 14.05 9.806 14.05 9.003V8.75H12.752ZM9.276 8.211V9.366H16.822V8.211H9.276Z' fill='white'/%3E%3C/svg%3E ");
    }
    .하 {
      font-size: x-large;
      color: transparent;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='12.5' fill='%23B7C1AC' stroke='%23959292' stroke-opacity='0.83' stroke-width='0.3'/%3E%3Cpath d='M15.974 8.793V18.979H17.426V8.793H15.974ZM17.096 12.764V13.985H18.9V12.764H17.096ZM9.396 10.3V11.466H15.325V10.3H9.396ZM12.377 12.038C10.892 12.038 9.792 13.05 9.792 14.469C9.792 15.888 10.892 16.9 12.377 16.9C13.862 16.9 14.962 15.888 14.962 14.469C14.962 13.05 13.862 12.038 12.377 12.038ZM12.377 13.226C13.07 13.226 13.565 13.688 13.565 14.469C13.565 15.25 13.07 15.712 12.377 15.712C11.684 15.712 11.189 15.25 11.189 14.469C11.189 13.688 11.684 13.226 12.377 13.226ZM11.64 8.958V10.74H13.103V8.958H11.64Z' fill='white'/%3E%3C/svg%3E ");
    }
    .없음 {
      font-size: smaller;
    }
  }
  .d1 {
    .number1 {
      border-radius: 50%;
      background-color: #b2e7b2;
      width: 55px;
      height: 55px;
      text-align: center;
      font-size: 40px;
      color: #009000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .result1 {
      padding: 2%;
      border: 2px solid #009000;
      border-radius: 15px;
      font-size: 13px;
      margin-right: 10%;
      line-height: 200%;
      .최상 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%231E824C' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M5.77 13.66V15.57H7.11V13.66H5.77ZM5.76 10.36V10.57C5.76 11.56 5.11 12.53 3.63 12.92L4.23 13.94C5.99 13.47 6.82 12.12 6.82 10.57V10.36H5.76ZM6.04 10.36V10.57C6.04 12.08 6.9 13.41 8.66 13.86L9.25 12.84C7.78 12.46 7.11 11.52 7.11 10.57V10.36H6.04ZM3.91 9.72V10.77H8.98V9.72H3.91ZM5.77 8.71V10.18H7.11V8.71H5.77ZM9.8 8.62V17.91H11.13V8.62H9.8ZM3.6 16.19C5.2 16.18 7.38 16.16 9.39 15.77L9.29 14.8C7.34 15.09 5.06 15.11 3.44 15.11L3.6 16.19ZM14.6292 9.13V9.95C14.6292 11.21 13.9992 12.45 12.4492 12.97L13.1592 14.02C14.9192 13.41 15.7192 11.79 15.7192 9.95V9.13H14.6292ZM14.8992 9.13V10.08C14.8992 11.75 15.6892 13.19 17.3592 13.75L18.0492 12.72C16.5992 12.27 15.9792 11.19 15.9792 10.08V9.13H14.8992ZM18.5592 8.63V14.1H19.8892V8.63H18.5592ZM19.5192 10.77V11.87H21.1192V10.77H19.5192ZM16.8692 14.31C14.9392 14.31 13.7292 14.98 13.7292 16.1C13.7292 17.23 14.9392 17.89 16.8692 17.89C18.7892 17.89 19.9992 17.23 19.9992 16.1C19.9992 14.98 18.7892 14.31 16.8692 14.31ZM16.8692 15.34C18.0492 15.34 18.6792 15.59 18.6792 16.1C18.6792 16.62 18.0492 16.86 16.8692 16.86C15.6892 16.86 15.0492 16.62 15.0492 16.1C15.0492 15.59 15.6892 15.34 16.8692 15.34Z' fill='white'/%3E%3C/svg%3E ");
      }
      .상 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2326A65B' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M10.673 8.343V9.245C10.673 10.631 9.98 11.995 8.275 12.567L9.056 13.722C10.992 13.051 11.872 11.269 11.872 9.245V8.343H10.673ZM10.97 8.343V9.388C10.97 11.225 11.839 12.809 13.676 13.425L14.435 12.292C12.84 11.797 12.158 10.609 12.158 9.388V8.343H10.97ZM14.996 7.793V13.81H16.459V7.793H14.996ZM16.052 10.147V11.357H17.812V10.147H16.052ZM13.137 14.041C11.014 14.041 9.683 14.778 9.683 16.01C9.683 17.253 11.014 17.979 13.137 17.979C15.249 17.979 16.58 17.253 16.58 16.01C16.58 14.778 15.249 14.041 13.137 14.041ZM13.137 15.174C14.435 15.174 15.128 15.449 15.128 16.01C15.128 16.582 14.435 16.846 13.137 16.846C11.839 16.846 11.135 16.582 11.135 16.01C11.135 15.449 11.839 15.174 13.137 15.174Z' fill='white'/%3E%3C/svg%3E ");
      }
      .중 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2390C695' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M12.312 12.908V14.701H13.775V12.908H12.312ZM8.44 12.424V13.579H17.647V12.424H8.44ZM13.027 14.305C10.816 14.305 9.485 14.965 9.485 16.142C9.485 17.319 10.816 17.979 13.027 17.979C15.227 17.979 16.558 17.319 16.558 16.142C16.558 14.965 15.227 14.305 13.027 14.305ZM13.027 15.405C14.391 15.405 15.084 15.636 15.084 16.142C15.084 16.637 14.391 16.879 13.027 16.879C11.663 16.879 10.97 16.637 10.97 16.142C10.97 15.636 11.663 15.405 13.027 15.405ZM12.037 8.75V9.003C12.037 9.795 11.058 10.697 8.825 10.884L9.331 12.028C11.96 11.786 13.335 10.532 13.335 9.003V8.75H12.037ZM12.752 8.75V9.003C12.752 10.543 14.138 11.786 16.756 12.028L17.262 10.884C15.018 10.697 14.05 9.806 14.05 9.003V8.75H12.752ZM9.276 8.211V9.366H16.822V8.211H9.276Z' fill='white'/%3E%3C/svg%3E ");
      }
      .하 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='12.5' fill='%23B7C1AC' stroke='%23959292' stroke-opacity='0.83' stroke-width='0.3'/%3E%3Cpath d='M15.974 8.793V18.979H17.426V8.793H15.974ZM17.096 12.764V13.985H18.9V12.764H17.096ZM9.396 10.3V11.466H15.325V10.3H9.396ZM12.377 12.038C10.892 12.038 9.792 13.05 9.792 14.469C9.792 15.888 10.892 16.9 12.377 16.9C13.862 16.9 14.962 15.888 14.962 14.469C14.962 13.05 13.862 12.038 12.377 12.038ZM12.377 13.226C13.07 13.226 13.565 13.688 13.565 14.469C13.565 15.25 13.07 15.712 12.377 15.712C11.684 15.712 11.189 15.25 11.189 14.469C11.189 13.688 11.684 13.226 12.377 13.226ZM11.64 8.958V10.74H13.103V8.958H11.64Z' fill='white'/%3E%3C/svg%3E ");
      }
      .없음 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%23C4C4C4' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M4.42 14.05V17.79H7.8V14.05H6.57V14.96H5.65V14.05H4.42ZM5.65 15.92H6.57V16.79H5.65V15.92ZM9.23 13.98V14.67C9.23 15.54 8.78 16.43 7.67 16.89L8.32 17.88C9.69 17.35 10.24 16.03 10.24 14.67V13.98H9.23ZM9.54 13.98V14.67C9.54 16.13 10.06 17.38 11.46 17.88L12.12 16.89C10.99 16.51 10.55 15.63 10.55 14.67V13.98H9.54ZM8.08 10.61V11.69H10.4V10.61H8.08ZM5.96 8.98C4.56 8.98 3.51 9.88 3.51 11.16C3.51 12.44 4.56 13.35 5.96 13.35C7.35 13.35 8.4 12.44 8.4 11.16C8.4 9.88 7.35 8.98 5.96 8.98ZM5.96 10.07C6.64 10.07 7.13 10.48 7.13 11.16C7.13 11.84 6.64 12.26 5.96 12.26C5.28 12.26 4.78 11.84 4.78 11.16C4.78 10.48 5.28 10.07 5.96 10.07ZM9.82 8.63V13.53H11.15V8.63H9.82ZM16.7892 8.8C14.7492 8.8 13.4392 9.49 13.4392 10.61C13.4392 11.73 14.7492 12.41 16.7892 12.41C18.8292 12.41 20.1392 11.73 20.1392 10.61C20.1392 9.49 18.8292 8.8 16.7892 8.8ZM16.7892 9.83C18.0492 9.83 18.7692 10.08 18.7692 10.61C18.7692 11.13 18.0492 11.39 16.7892 11.39C15.5192 11.39 14.8092 11.13 14.8092 10.61C14.8092 10.08 15.5192 9.83 16.7892 9.83ZM13.5692 14.63V17.79H19.9692V14.63H13.5692ZM18.6692 15.68V16.74H14.8792V15.68H18.6692ZM12.5992 12.94V13.99H20.9692V12.94H12.5992Z' fill='white'/%3E%3C/svg%3E ");
      }

      .bold1 {
        font-weight: 500;
        font-size: small;
        border: 0px;
        background-color: #b2e7b2b6;
        border-radius: 8px;
        padding: 1.2mm;
        font-family: Arial, Helvetica, sans-serif;
      }

      .amore {
        float: right;
        font-size: 12px;
        color: #009000;
        border: 0;
        background-color: white;
      }
    }
  }
  .d2 {
    .number2 {
      margin-top: 2%;
      border-radius: 50%;
      background-color: #b2e7b2;
      width: 55px;
      height: 55px;
      text-align: center;
      font-size: 40px;
      color: #009000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .result2 {
      padding: 2%;
      border: 2px solid #009000;
      border-radius: 15px;
      font-size: 13px;
      margin-right: 10%;
      line-height: 200%;

      .최상 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%231E824C' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M5.77 13.66V15.57H7.11V13.66H5.77ZM5.76 10.36V10.57C5.76 11.56 5.11 12.53 3.63 12.92L4.23 13.94C5.99 13.47 6.82 12.12 6.82 10.57V10.36H5.76ZM6.04 10.36V10.57C6.04 12.08 6.9 13.41 8.66 13.86L9.25 12.84C7.78 12.46 7.11 11.52 7.11 10.57V10.36H6.04ZM3.91 9.72V10.77H8.98V9.72H3.91ZM5.77 8.71V10.18H7.11V8.71H5.77ZM9.8 8.62V17.91H11.13V8.62H9.8ZM3.6 16.19C5.2 16.18 7.38 16.16 9.39 15.77L9.29 14.8C7.34 15.09 5.06 15.11 3.44 15.11L3.6 16.19ZM14.6292 9.13V9.95C14.6292 11.21 13.9992 12.45 12.4492 12.97L13.1592 14.02C14.9192 13.41 15.7192 11.79 15.7192 9.95V9.13H14.6292ZM14.8992 9.13V10.08C14.8992 11.75 15.6892 13.19 17.3592 13.75L18.0492 12.72C16.5992 12.27 15.9792 11.19 15.9792 10.08V9.13H14.8992ZM18.5592 8.63V14.1H19.8892V8.63H18.5592ZM19.5192 10.77V11.87H21.1192V10.77H19.5192ZM16.8692 14.31C14.9392 14.31 13.7292 14.98 13.7292 16.1C13.7292 17.23 14.9392 17.89 16.8692 17.89C18.7892 17.89 19.9992 17.23 19.9992 16.1C19.9992 14.98 18.7892 14.31 16.8692 14.31ZM16.8692 15.34C18.0492 15.34 18.6792 15.59 18.6792 16.1C18.6792 16.62 18.0492 16.86 16.8692 16.86C15.6892 16.86 15.0492 16.62 15.0492 16.1C15.0492 15.59 15.6892 15.34 16.8692 15.34Z' fill='white'/%3E%3C/svg%3E ");
      }
      .상 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2326A65B' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M10.673 8.343V9.245C10.673 10.631 9.98 11.995 8.275 12.567L9.056 13.722C10.992 13.051 11.872 11.269 11.872 9.245V8.343H10.673ZM10.97 8.343V9.388C10.97 11.225 11.839 12.809 13.676 13.425L14.435 12.292C12.84 11.797 12.158 10.609 12.158 9.388V8.343H10.97ZM14.996 7.793V13.81H16.459V7.793H14.996ZM16.052 10.147V11.357H17.812V10.147H16.052ZM13.137 14.041C11.014 14.041 9.683 14.778 9.683 16.01C9.683 17.253 11.014 17.979 13.137 17.979C15.249 17.979 16.58 17.253 16.58 16.01C16.58 14.778 15.249 14.041 13.137 14.041ZM13.137 15.174C14.435 15.174 15.128 15.449 15.128 16.01C15.128 16.582 14.435 16.846 13.137 16.846C11.839 16.846 11.135 16.582 11.135 16.01C11.135 15.449 11.839 15.174 13.137 15.174Z' fill='white'/%3E%3C/svg%3E ");
      }
      .중 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2390C695' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M12.312 12.908V14.701H13.775V12.908H12.312ZM8.44 12.424V13.579H17.647V12.424H8.44ZM13.027 14.305C10.816 14.305 9.485 14.965 9.485 16.142C9.485 17.319 10.816 17.979 13.027 17.979C15.227 17.979 16.558 17.319 16.558 16.142C16.558 14.965 15.227 14.305 13.027 14.305ZM13.027 15.405C14.391 15.405 15.084 15.636 15.084 16.142C15.084 16.637 14.391 16.879 13.027 16.879C11.663 16.879 10.97 16.637 10.97 16.142C10.97 15.636 11.663 15.405 13.027 15.405ZM12.037 8.75V9.003C12.037 9.795 11.058 10.697 8.825 10.884L9.331 12.028C11.96 11.786 13.335 10.532 13.335 9.003V8.75H12.037ZM12.752 8.75V9.003C12.752 10.543 14.138 11.786 16.756 12.028L17.262 10.884C15.018 10.697 14.05 9.806 14.05 9.003V8.75H12.752ZM9.276 8.211V9.366H16.822V8.211H9.276Z' fill='white'/%3E%3C/svg%3E ");
      }
      .하 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='12.5' fill='%23B7C1AC' stroke='%23959292' stroke-opacity='0.83' stroke-width='0.3'/%3E%3Cpath d='M15.974 8.793V18.979H17.426V8.793H15.974ZM17.096 12.764V13.985H18.9V12.764H17.096ZM9.396 10.3V11.466H15.325V10.3H9.396ZM12.377 12.038C10.892 12.038 9.792 13.05 9.792 14.469C9.792 15.888 10.892 16.9 12.377 16.9C13.862 16.9 14.962 15.888 14.962 14.469C14.962 13.05 13.862 12.038 12.377 12.038ZM12.377 13.226C13.07 13.226 13.565 13.688 13.565 14.469C13.565 15.25 13.07 15.712 12.377 15.712C11.684 15.712 11.189 15.25 11.189 14.469C11.189 13.688 11.684 13.226 12.377 13.226ZM11.64 8.958V10.74H13.103V8.958H11.64Z' fill='white'/%3E%3C/svg%3E ");
      }
      .없음 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%23C4C4C4' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M4.42 14.05V17.79H7.8V14.05H6.57V14.96H5.65V14.05H4.42ZM5.65 15.92H6.57V16.79H5.65V15.92ZM9.23 13.98V14.67C9.23 15.54 8.78 16.43 7.67 16.89L8.32 17.88C9.69 17.35 10.24 16.03 10.24 14.67V13.98H9.23ZM9.54 13.98V14.67C9.54 16.13 10.06 17.38 11.46 17.88L12.12 16.89C10.99 16.51 10.55 15.63 10.55 14.67V13.98H9.54ZM8.08 10.61V11.69H10.4V10.61H8.08ZM5.96 8.98C4.56 8.98 3.51 9.88 3.51 11.16C3.51 12.44 4.56 13.35 5.96 13.35C7.35 13.35 8.4 12.44 8.4 11.16C8.4 9.88 7.35 8.98 5.96 8.98ZM5.96 10.07C6.64 10.07 7.13 10.48 7.13 11.16C7.13 11.84 6.64 12.26 5.96 12.26C5.28 12.26 4.78 11.84 4.78 11.16C4.78 10.48 5.28 10.07 5.96 10.07ZM9.82 8.63V13.53H11.15V8.63H9.82ZM16.7892 8.8C14.7492 8.8 13.4392 9.49 13.4392 10.61C13.4392 11.73 14.7492 12.41 16.7892 12.41C18.8292 12.41 20.1392 11.73 20.1392 10.61C20.1392 9.49 18.8292 8.8 16.7892 8.8ZM16.7892 9.83C18.0492 9.83 18.7692 10.08 18.7692 10.61C18.7692 11.13 18.0492 11.39 16.7892 11.39C15.5192 11.39 14.8092 11.13 14.8092 10.61C14.8092 10.08 15.5192 9.83 16.7892 9.83ZM13.5692 14.63V17.79H19.9692V14.63H13.5692ZM18.6692 15.68V16.74H14.8792V15.68H18.6692ZM12.5992 12.94V13.99H20.9692V12.94H12.5992Z' fill='white'/%3E%3C/svg%3E ");
      }

      .bold2 {
        //color: #009000;
        font-weight: 500;
        font-size: small;
        border: 0px;
        background-color: #b2e7b2b6;
        border-radius: 8px;
        padding: 1.2mm;
        font-family: Arial, Helvetica, sans-serif;
      }

      .bmore {
        float: right;
        font-size: 12px;
        color: #009000;
      }
    }
  }
  .d3 {
    .number3 {
      margin-top: 2%;
      border-radius: 50%;
      background-color: #b2e7b2;
      width: 55px;
      height: 55px;
      text-align: center;
      font-size: 40px;
      color: #009000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .result3 {
      padding: 2%;
      border: 2px solid #009000;
      border-radius: 15px;
      font-size: 13px;
      margin-right: 10%;
      line-height: 200%;

      .최상 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%231E824C' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M5.77 13.66V15.57H7.11V13.66H5.77ZM5.76 10.36V10.57C5.76 11.56 5.11 12.53 3.63 12.92L4.23 13.94C5.99 13.47 6.82 12.12 6.82 10.57V10.36H5.76ZM6.04 10.36V10.57C6.04 12.08 6.9 13.41 8.66 13.86L9.25 12.84C7.78 12.46 7.11 11.52 7.11 10.57V10.36H6.04ZM3.91 9.72V10.77H8.98V9.72H3.91ZM5.77 8.71V10.18H7.11V8.71H5.77ZM9.8 8.62V17.91H11.13V8.62H9.8ZM3.6 16.19C5.2 16.18 7.38 16.16 9.39 15.77L9.29 14.8C7.34 15.09 5.06 15.11 3.44 15.11L3.6 16.19ZM14.6292 9.13V9.95C14.6292 11.21 13.9992 12.45 12.4492 12.97L13.1592 14.02C14.9192 13.41 15.7192 11.79 15.7192 9.95V9.13H14.6292ZM14.8992 9.13V10.08C14.8992 11.75 15.6892 13.19 17.3592 13.75L18.0492 12.72C16.5992 12.27 15.9792 11.19 15.9792 10.08V9.13H14.8992ZM18.5592 8.63V14.1H19.8892V8.63H18.5592ZM19.5192 10.77V11.87H21.1192V10.77H19.5192ZM16.8692 14.31C14.9392 14.31 13.7292 14.98 13.7292 16.1C13.7292 17.23 14.9392 17.89 16.8692 17.89C18.7892 17.89 19.9992 17.23 19.9992 16.1C19.9992 14.98 18.7892 14.31 16.8692 14.31ZM16.8692 15.34C18.0492 15.34 18.6792 15.59 18.6792 16.1C18.6792 16.62 18.0492 16.86 16.8692 16.86C15.6892 16.86 15.0492 16.62 15.0492 16.1C15.0492 15.59 15.6892 15.34 16.8692 15.34Z' fill='white'/%3E%3C/svg%3E ");
      }
      .상 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2326A65B' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M10.673 8.343V9.245C10.673 10.631 9.98 11.995 8.275 12.567L9.056 13.722C10.992 13.051 11.872 11.269 11.872 9.245V8.343H10.673ZM10.97 8.343V9.388C10.97 11.225 11.839 12.809 13.676 13.425L14.435 12.292C12.84 11.797 12.158 10.609 12.158 9.388V8.343H10.97ZM14.996 7.793V13.81H16.459V7.793H14.996ZM16.052 10.147V11.357H17.812V10.147H16.052ZM13.137 14.041C11.014 14.041 9.683 14.778 9.683 16.01C9.683 17.253 11.014 17.979 13.137 17.979C15.249 17.979 16.58 17.253 16.58 16.01C16.58 14.778 15.249 14.041 13.137 14.041ZM13.137 15.174C14.435 15.174 15.128 15.449 15.128 16.01C15.128 16.582 14.435 16.846 13.137 16.846C11.839 16.846 11.135 16.582 11.135 16.01C11.135 15.449 11.839 15.174 13.137 15.174Z' fill='white'/%3E%3C/svg%3E ");
      }
      .중 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%2390C695' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M12.312 12.908V14.701H13.775V12.908H12.312ZM8.44 12.424V13.579H17.647V12.424H8.44ZM13.027 14.305C10.816 14.305 9.485 14.965 9.485 16.142C9.485 17.319 10.816 17.979 13.027 17.979C15.227 17.979 16.558 17.319 16.558 16.142C16.558 14.965 15.227 14.305 13.027 14.305ZM13.027 15.405C14.391 15.405 15.084 15.636 15.084 16.142C15.084 16.637 14.391 16.879 13.027 16.879C11.663 16.879 10.97 16.637 10.97 16.142C10.97 15.636 11.663 15.405 13.027 15.405ZM12.037 8.75V9.003C12.037 9.795 11.058 10.697 8.825 10.884L9.331 12.028C11.96 11.786 13.335 10.532 13.335 9.003V8.75H12.037ZM12.752 8.75V9.003C12.752 10.543 14.138 11.786 16.756 12.028L17.262 10.884C15.018 10.697 14.05 9.806 14.05 9.003V8.75H12.752ZM9.276 8.211V9.366H16.822V8.211H9.276Z' fill='white'/%3E%3C/svg%3E ");
      }
      .하 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='12.5' fill='%23B7C1AC' stroke='%23959292' stroke-opacity='0.83' stroke-width='0.3'/%3E%3Cpath d='M15.974 8.793V18.979H17.426V8.793H15.974ZM17.096 12.764V13.985H18.9V12.764H17.096ZM9.396 10.3V11.466H15.325V10.3H9.396ZM12.377 12.038C10.892 12.038 9.792 13.05 9.792 14.469C9.792 15.888 10.892 16.9 12.377 16.9C13.862 16.9 14.962 15.888 14.962 14.469C14.962 13.05 13.862 12.038 12.377 12.038ZM12.377 13.226C13.07 13.226 13.565 13.688 13.565 14.469C13.565 15.25 13.07 15.712 12.377 15.712C11.684 15.712 11.189 15.25 11.189 14.469C11.189 13.688 11.684 13.226 12.377 13.226ZM11.64 8.958V10.74H13.103V8.958H11.64Z' fill='white'/%3E%3C/svg%3E ");
      }
      .없음 {
        position: absolute;
        left: 345px;
        color: transparent;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.35' fill='%23C4C4C4' stroke='%23959292' stroke-width='0.3'/%3E%3Cpath d='M4.42 14.05V17.79H7.8V14.05H6.57V14.96H5.65V14.05H4.42ZM5.65 15.92H6.57V16.79H5.65V15.92ZM9.23 13.98V14.67C9.23 15.54 8.78 16.43 7.67 16.89L8.32 17.88C9.69 17.35 10.24 16.03 10.24 14.67V13.98H9.23ZM9.54 13.98V14.67C9.54 16.13 10.06 17.38 11.46 17.88L12.12 16.89C10.99 16.51 10.55 15.63 10.55 14.67V13.98H9.54ZM8.08 10.61V11.69H10.4V10.61H8.08ZM5.96 8.98C4.56 8.98 3.51 9.88 3.51 11.16C3.51 12.44 4.56 13.35 5.96 13.35C7.35 13.35 8.4 12.44 8.4 11.16C8.4 9.88 7.35 8.98 5.96 8.98ZM5.96 10.07C6.64 10.07 7.13 10.48 7.13 11.16C7.13 11.84 6.64 12.26 5.96 12.26C5.28 12.26 4.78 11.84 4.78 11.16C4.78 10.48 5.28 10.07 5.96 10.07ZM9.82 8.63V13.53H11.15V8.63H9.82ZM16.7892 8.8C14.7492 8.8 13.4392 9.49 13.4392 10.61C13.4392 11.73 14.7492 12.41 16.7892 12.41C18.8292 12.41 20.1392 11.73 20.1392 10.61C20.1392 9.49 18.8292 8.8 16.7892 8.8ZM16.7892 9.83C18.0492 9.83 18.7692 10.08 18.7692 10.61C18.7692 11.13 18.0492 11.39 16.7892 11.39C15.5192 11.39 14.8092 11.13 14.8092 10.61C14.8092 10.08 15.5192 9.83 16.7892 9.83ZM13.5692 14.63V17.79H19.9692V14.63H13.5692ZM18.6692 15.68V16.74H14.8792V15.68H18.6692ZM12.5992 12.94V13.99H20.9692V12.94H12.5992Z' fill='white'/%3E%3C/svg%3E ");
      }
      .bold3 {
        font-weight: 500;
        font-size: small;
        border: 0px;
        background-color: #b2e7b2b6;
        border-radius: 8px;
        padding: 1.2mm;
        font-family: Arial, Helvetica, sans-serif;
      }

      .cmore {
        float: right;
        font-size: 12px;
        color: #009000;
      }
    }
  }
}
